<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
		<title>BrainTube</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="shortcut icon" href="{% static 'images/favicon.jpg' %}">
	</head>
	<body class="homepage">
		<div id="page-wrapper">
			<div id="header-wrapper">
				<div id="header" class="container">
				</div>
        <section id="hero" class="container">
          <header>
            <h2>BrainTube is a xxxx
            <br />
            xxxx by <a href="#">sensor連結</a></h2>
          </header>
          <p>能藉由您觀看影片時的<strong>腦波</strong>數值
          <br />
          推薦適合您的<a href="https://www.youtube.com/">Youtube</a>影片
          <ul class="actions">
            <li>
            <a class="waves-effect waves-light grey darken-1 btn-large" href="/choice">
              開始測量
            </a>
            </li>
          </ul>
        </section>
			</div>

			<div class="wrapper">
				<div class="container">
					<div class="row">
						<section class="6u 12u(narrower) feature">
							<div class="image-wrapper first">
								<a href="#" class="image featured first"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a>
							</div>
							<header>
								<h2>測量方法</h2>
							</header>
							<p>測量教學brabrabrabra</p>
							<ul class="actions">
								<li><a href="#" class="button">儀器說明</a></li>
							</ul>
						</section>
						<section class="6u 12u(narrower) feature">
							<div class="image-wrapper">
								<a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
							</div>
							<header>
								<h2>推薦結果</h2>
							</header>
							<p>推薦結果會呈現brabrabrabra</p>
							<ul class="actions">
								<li><a href="#" class="button">推薦原理</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>

		</div>
	</body>
</html>